.btn-blue {
  background-color: #5B84B1;
  color: white;
  padding: 15px 30px;
  border-radius: 50px; 
  text-decoration: none; 
  font-weight: bold;
  display: inline-block; 
  transition: 0.3s ease;
}

.btn-blue:hover {
  background-color: #2c67b1;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}